<div class="postulante-layout">
  <div class="stepper-container">
    <h2 class="titulo">Ingreso de Postulante</h2>
    <mat-horizontal-stepper class="postulante-stepper" [linear]="false">
      <mat-step *ngFor="let step of steps; index as i" [label]="step.label">
        <div class="step-wrapper">
          <ng-container [ngSwitch]="step.key">
            <app-aspectos-generales-step
              *ngSwitchCase="'generales'"
              [form]="generalForm"
            ></app-aspectos-generales-step>
            <app-salud-step
              *ngSwitchCase="'salud'"
              [form]="saludForm"
            ></app-salud-step>
            <app-datos-familiares-step
              *ngSwitchCase="'familiares'"
              [form]="familiaresForm"
            ></app-datos-familiares-step>
            <app-datos-academicos-step
              *ngSwitchCase="'academicos'"
              [form]="academicosForm"
            ></app-datos-academicos-step>
            <app-referencias-laborales-step
              *ngSwitchCase="'laborales'"
              [form]="laboralesForm"
            ></app-referencias-laborales-step>
            <app-referencias-personales-step
              *ngSwitchCase="'personales'"
              [form]="personalesForm"
            ></app-referencias-personales-step>
            <app-aspectos-consumo-step
              *ngSwitchCase="'consumo'"
              [form]="consumoForm"
            ></app-aspectos-consumo-step>
            <app-datos-economicos-step
              *ngSwitchCase="'economicos'"
              [form]="economicosForm"
            ></app-datos-economicos-step>

            <ng-container *ngSwitchDefault>
              <ng-container *ngComponentOutlet="step.component"></ng-container>
            </ng-container>
          </ng-container>

          <div class="stepper-actions">
            <button
              mat-stroked-button
              class="btn-secondary"
              matStepperPrevious
              *ngIf="i > 0"
            >
              Anterior
            </button>
            <button
              mat-flat-button
              class="btn-primary"
              matStepperNext
              *ngIf="i < steps.length - 1"
            >
              Siguiente
            </button>
            <button
              mat-flat-button
              class="btn-finalizar"
              *ngIf="i === steps.length - 1"
              (click)="onSubmit()"
            >
              Registrar
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
