<div class="min-h-screen bg-gradient-to-r from-green-100 via-white to-orange-100">
  <div class="container p-4">
    <div class="card">
      <h2 style="color: var(--color-verde);">Gestión de Informes</h2>

      <mat-horizontal-stepper [linear]="false" labelPosition="bottom" color="primary" #stepper>

        <mat-step label="Información General">
          <app-informacion-general [form]="form.get('generales')!"></app-informacion-general>
          <div class="text-right mt-4">
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Datos Familiares">
          <app-datos-familiares [form]="form.get('familiares')!"></app-datos-familiares>
          <div class="text-right mt-4">
            <button mat-button  class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Historial Académico">
          <app-historial-academico [form]="form.get('academico')!"></app-historial-academico>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Información Laboral">
          <app-informacion-laboral [form]="form.get('laboral')!"></app-informacion-laboral>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Económica y Financiera">
          <app-informacion-economica [form]="form.get('economico')!"></app-informacion-economica>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Vivienda y Zona Residencial">
          <app-vivienda [form]="form.get('propiedades')!"></app-vivienda>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Salud">
          <app-salud [form]="form.get('salud')!"></app-salud>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Antecedentes">
          <app-antecedentes [form]="form.get('antecedentes')!"></app-antecedentes>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Redes Sociales">
          <app-redes [form]="form.get('redes')!"></app-redes>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>

        <mat-step label="Referencias">
          <app-referencia [form]="form.get('referencias')!"></app-referencia>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>
        <mat-step label="Entrevita">
          <app-entrevista [form]="form.get('entrevista')!"></app-entrevista>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="stepper.next()">Siguiente</button>
          </div>
        </mat-step>
         <mat-step label="Anexos">
          <app-fotografias [form]="form.get('anexos')!"></app-fotografias>
          <div class="text-right mt-4">
            <button mat-button class="btn-anterior" (click)="stepper.previous()">Anterior</button>
            <button mat-raised-button color="primary" (click)="guardarInforme()">Guardar</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>