<div class="min-h-screen bg-gradient-to-r from-green-100 via-white to-orange-100">
  <div class="max-w-5xl mx-auto bg-white shadow-md p-6 rounded-lg">
    <h2 style="color: var(--color-verde); font-size: 1.5rem; font-weight: 600; margin-bottom: 1rem;">Gestión de Vacante
    </h2>

    <form [formGroup]="vacanteForm" (ngSubmit)="guardar()" class="grid grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-semibold mb-1">Puesto</label>
        <input type="text" formControlName="puesto" class="w-full border rounded" />
      </div>

      <div class="col-span-2">
        <label class="block text-sm font-semibold mb-1">Descripción del Puesto</label>
        <textarea formControlName="descripcion" class="w-full border rounded p-2" rows="3"></textarea>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Medio de contacto empresa</label>
        <input type="email" formControlName="contacto" class="w-full border rounded p-2" />
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Categoría</label>
        <select formControlName="categoria" class="w-full border rounded p-2">
          <option value="">Seleccione...</option>
          <option *ngFor="let c of categorias" [value]="c">{{ c }}</option>
        </select>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Tipo de Contrato</label>
        <select formControlName="tipoContrato" class="w-full border rounded p-2">
          <option *ngFor="let t of tiposContrato" [value]="t">{{ t }}</option>
        </select>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Experiencia requerida</label>
        <select formControlName="experiencia" class="w-full border rounded p-2">
          <option *ngFor="let e of experiencia" [value]="e">{{ e }}</option>
        </select>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Educación requerida</label>
        <select formControlName="educacion" class="w-full border rounded p-2">
          <option *ngFor="let e of educacion" [value]="e">{{ e }}</option>
        </select>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Departamento</label>
        <select formControlName="departamento" class="w-full border rounded p-2">
          <option *ngFor="let d of departamentos" [value]="d">{{ d }}</option>
        </select>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Ciudad</label>
        <select formControlName="ciudad" class="w-full border rounded p-2">
          <option *ngFor="let c of ciudades" [value]="c">{{ c }}</option>
        </select>
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Cantidad de Vacantes</label>
        <input type="number" formControlName="cantidadVacantes" class="w-full border rounded p-2" />
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Salario</label>
        <input type="number" formControlName="salario" class="w-full border rounded p-2" />
      </div>

      <div>
        <label class="block text-sm font-semibold mb-1">Tipo de Pago</label>
        <select formControlName="tipoPago" class="w-full border rounded p-2">
          <option *ngFor="let t of tipoPago" [value]="t">{{ t }}</option>
        </select>
      </div>

      <div class="col-span-2 text-right mt-4">
        <button type="submit" class="btn-primary">
          Guardar Vacante
        </button>
      </div>
    </form>
  </div>

</div>